.analysisIntroContainer {
  display: flex;
  justify-content: start;
  padding: 40px 5px 0 60px;
  margin-top: 30px;
}

.analysisIntroContainer p {
  padding-left: 10px;
  font-size: 20px;
}

.analysisStatsContainer {
  display: flex;
  padding-top: 10px;
  justify-content: start;
  padding: 10px 5px 0 60px;
}

.analysisStatsGraph {
  display: flex;
  border-radius: 5px;
  background-color: aquamarine;
  justify-content: start;
  margin: 10px 60px 0 60px;
  height: 400px;
}

.analysisInfoDesc {
  display: flex;
  justify-content: start;
  padding: 10px 5px 0 60px;
}
