.analysisPageNavbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    63deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 74, 203, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 50px;
}

.analysisPageNavbar img {
  padding: 6px 0 0px 37px;
  width: 80px;
  height: 40px;
}

.analysisBackground {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    63deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 74, 203, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 400px;
}

.analysisHeading {
  display: flex;
  position: relative;
  padding-left: 297px;
  justify-content: start;
}

.summaryContainer {
  display: flex;
  justify-content: start;
  background-color: white;
  height: 140px;
  width: 960px;
  left: 19%;
  top: 29px;
  position: relative;
  box-shadow: -2px 4px 37px -8px rgb(82 72 72 / 70%);
  -webkit-box-shadow: -2px 4px 37px -8px rgb(82 72 72 / 70%);
  border-radius: 10px;
  flex-direction: column;
}

.summaryContainer div {
  display: inline-flex;
}

.summaryContainer #cryptoprice {
  padding: 3px 17px;
}

.summaryContainer h3 {
  font-size: 36px;
  color: black;
  padding: 20px 15px 0 0px;
  font-family: "PT Sans", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.summaryContainer img {
  width: 50px;
  height: 50px;
  margin: 17px 2px 0 16px;
  box-shadow: 16px -9px 153px -63px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 16px -9px 153px -63px rgba(0, 0, 0, 1);
}

.analysisGraphContainer {
  position: absolute;
  top: 32%;
  left: 19%;
  background-color: white;
  height: 480px;
  width: 965px;
  border-radius: 10px;
  display: flex;
  padding: 10px 25px 10px 25px;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 4px 37px -8px rgba(82, 72, 72, 0.7);
  -webkit-box-shadow: -2px 4px 37px -8px rgba(82, 72, 72, 0.7);
  -moz-box-shadow: -2px 4px 37px -8px rgba(82, 72, 72, 0.7);
}
