.navbar {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.navbar ul li {
  display: inline;
  color: black;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar ul {
  padding-right: 65px;
  margin: 0px;
}
.navbar a {
  text-decoration: none;
}

.navbar li:hover {
  color: #00b627;
  transition: 0.5s;
}

.navbar img {
  padding-left: 40px;
  width: 95px;
  height: 55px;
}
