.predictionPanel {
  border: 1px solid black;
  border-radius: 5px;
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 10px;
}

.predictionPanel .btn-success {
  background: #6c5ce7;
  transition: 0.5s;
  width: 150px;
}

.predictionPanel .stats-container {
  font-weight: bold;
}

.predictionPanel .btn-success:hover {
  background: #0984e3;
  transition: 0.5s;
}
