.statsHeader {
  padding: 40px 0 0 28px;
}

.statsContainer {
  padding-top: 10px;
  padding: 10px 0 0 0;
  width: 780px;
  display: flex;
  justify-content: start;
}

.statsContainer th {
  padding: 7px 30px;
}

.statsContainer tr {
  padding: 10px 0 0 0;
}

.rowTitle th {
  color: grey;
  font-size: 16px;
}

.rowElement th {
  font-size: 14px;
}
