.stats-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin-top: 5px;
  border-radius: 5px;
  width: 65vw;
}

.stats-container .statsHeader {
  padding: 20px;
  text-align: center;
}

.stats-container .stats-content {
  padding-top: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.stats-container table {
  width: 100%;
}

.statsContainer th {
  padding: 7px 30px;
  text-align: center;
}

.statsContainer tr {
  padding: 15px;
}

.rowTitle th {
  color: grey;
  font-size: 17px;
}

.rowElement th {
  font-size: 16px;
}
